version: "2"
sql:
  - engine: "postgresql"
    queries: "internal/adapter/postgres/queries"
    schema: "migrations"
    gen:
      go:
        package: "generated"
        out: "internal/adapter/postgres/generated"
        emit_json_tags: true
        emit_prepared_queries: false
        emit_interface: false
        emit_exact_table_names: false
