package main

import (
	"os"
	"os/signal"
	"syscall"

	"github.com/kelseyhightower/envconfig"
)

type Config struct {
	Addr string `envconfig:"APP_ADDR" default:":8080"`
	ENV  string `envconfig:"APP_ENV"  default:"development"`
}

func LoadConfig() (Config, error) {
	var cfg Config
	return cfg, envconfig.Process("", &cfg)
}

func waitForShutdown(fn func()) {
	quit := make(chan os.Signal, 1)
	signal.Notify(quit, syscall.SIGINT, syscall.SIGTERM)
	<-quit
	fn()
}
